
<form>
  <label for="giraffe">Enter a number</label>
  <br>
  <input id="giraffe" placeholder="What number do you want to square?" name = "elephant">
  <br>
  <button>Calculate square</button>
</form>